<h1>User: <%= @user.id %></h1>
<ul>
  <div>Name: <%= @user.name %></div>
  <div>Email: <%= @user.email %></div>
  <div>Course ID: <%= @user.course_id %></div>
  <div>Course: <%= @course.name %></div>
</ul>
